@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

html {
  height: 100%;
}
body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  position: relative;
  width: 1200px;
}

.navigation-logo {
  margin: 0 30px 0 70px;
  position: absolute;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0 0 0 239px;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  width: 320px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 22px;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 12px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  height: 2px;
  background-color: #756257;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-icon:hover {
  fill: #756257;
}

.navigation-icon:active {
  opacity: 0.3;
}

.button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756257;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.navigation-link-button {
  margin-top: 14px;
  margin-left: 20px;
  padding: 9px 34px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.navigation-link-button:hover {
  color:#ffffff;
  background-color: #615048;
}

.navigation-link-button:focus {
  box-shadow: inset 0 0 0 4px #83B3D3;
  outline: none;
}

.navigation-link-button:active{
  box-shadow: none;
  color:rgba(117, 98, 87, 0.3);
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.main-background {
  background-color: #83B3D3;
  background-image: url(../images/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-promo {
  display: block;
  margin: 0 auto;
  padding-top: 66px;
  padding-bottom: 67px;
}

.description {
  text-align: center;
  margin: 0 auto;
  width: 720px;
}

.description-sedona {
  margin: 63px 0 31px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-advantages {
  margin-bottom: 80px;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.advantages-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-container {
  width: 400px;
}

.advantages-item {
  width: 400px;
  background-color: #ffffff;
}

.advantages-white {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.advantager-city {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-container .advantages-description {
  width: 220px;
  margin: 0 auto;
  padding: 30px 0 87px 0;
}

.advantager-city .advantages-title {
  padding: 184px 0 20px 0;
}

.advantager-city .advantages-description {
  padding:0 0 89px 0;
  width: 226px;
}

.advantages-citi-item {
  width: 400px;
  background-repeat: no-repeat;
  background-position: 163px 89px;
}

.item-housing {
  background-image: url(../images/housing.svg);
}

.item-food{
  background-image: url(../images/food.svg)
}

.item-souvenirs{
  background-image: url(../images/souvenirs.svg);
  background-position: 168px 89px;
}

.advantages-title {
  margin: 0 auto;
  padding: 97px 0 30px 0;
  width: 172px;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  width: 250px;
  margin: 0 auto;
  padding: 30px 0 108px 0;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.advantages-white {
  background-color: #83B3D3;
}

.advantages-white .advantages-title {
  color: #ffffff;
}

.advantages-white .advantages-number {
  color: #ffffff;
}

.advantages-white .advantages-description {
  color: #ffffff;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantager-city {
  color: #000000;
  background-color: #ffffff;
}

.advantager-city .advantages-title {
  color: #000000;
}

.advantages-citi-item .advantages-description {
  color:#333333;
}

.advantages-citi-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.hotel-search {
  text-align: center;
  width: 720px;
  margin: 0 auto;
}

.hotel-search-title {
  margin: 0;
  padding: 91px 0 29px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search-description {
  margin: 0;
  padding: 0 0 56px 0;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}

.hotel-search-button {
  display: block;
  margin-bottom: 93px;
  padding: 15px 150px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

.hotel-search-button:hover {
  color:#ffffff;
  background-color: #615048;
}

.hotel-search-button:focus {
  box-shadow: inset 0 0 0 4px #83B3D3;
  outline: none;
}

.hotel-search-button:active {
  opacity: 0.3;
}

.newsletter {
  background-image: url(../images/background-newsletter.jpg);
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
}

.newsletter-title {
  margin: 0;
  padding: 94px 0 29px 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0 auto;
  padding-bottom: 46px;
  width: 540px;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 94px;
}

.field {
  width: 600px;
  padding: 17px 19px 17px 22px;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  box-shadow: inset 0 0 0 4px #83B3D3;
  outline: none;
}

.newsletter-button {
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 26px;
  border: none;
  border-radius: 0 10px 10px 0;
}

.newsletter-button:hover {
  background-color:#68a2ca;
}

.newsletter-button:focus {
  box-shadow: inset 0 0 0 4px #756257;
  outline: none;
}

.newsletter-button:active {
  box-shadow: none;
  opacity: 0.3;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 72px;
  padding: 49px 0 0 0;
  list-style-type: none;
}

.footer-social-link{
  display: flex;
  justify-content: center;
  align-self: center;
  width: 18px;
  height: 18px;
  margin-right:12px;
  padding: 7px;
  background-repeat:no-repeat;
  background-position: center;
}

.footer-social-icon {
  fill: #83b3d3;
}

.footer-social-icon:hover {
  fill: #68a2ca;
}

.footer-social-link:focus {
  box-shadow: inset 0 0 0 3px #68a2ca;
  border-radius: 10px;
  outline: none;
}

.footer-social-link:active {
  box-shadow: none;
  opacity: 0.3;
}

.footer-contacts-phone {
  margin: 30px auto;
  padding: 10px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

.footer-contacts-phone:hover {
  color:#756257;
}

.footer-contacts-phone:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
  outline: none;
}

.footer-contacts-phone:active {
  box-shadow: none;
  opacity: 0.3;
}

.footer-logo {
  margin: 25px 72px 25px 0;
  padding: 15px;
}

.logo-icon {
  fill: #000000;
}

.logo-icon:hover {
  fill: #756257;
}

.footer-logo:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
  outline: none;
}

.logo-icon:active {
  box-shadow: none;
  opacity: 0.3;
}


/* Catalog */

.main-inner-container {
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
}

.inner-header-title {
  margin: 0 0 0 72px;
  padding: 35px 0 5px 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 0 72px;
  padding: 0 0 45px 0;
  list-style-type: none;
}

.breadcrumbs-item {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;


}
.breadcrumbs-item {
  position: relative;
  margin-right: 26px;
}

.breadcrumbs-item::after {
  background-image: url(../images/arrow.svg);
  background-repeat:no-repeat;
  content: "";
  position: absolute;
  top: 7px;
  right: -20px;
  width: 8px;
  height: 8px;
  content: "";
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-icon {
  display: block;
  width: 12px;
  height: 20px;
  background-image: url(../images/icon-house.svg);
  background-repeat:no-repeat;
  background-position:center;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0 0 59px 0;
  border: none;
}

.catalog-filter-group:nth-child(1) {
  margin:0 68px 0 72px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-item {
  padding-bottom: 13px;
}

.catalog-filter-list {
  margin: 0;
  padding: 30px 0 0 0;
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
}

.filter-button {
  display: flex;
  flex-direction: column;
  margin: 0 72px 0 auto;
  padding-top: 60px;
}

.button-submit {
  background-color: #83B3D3;
  padding: 14px 29px;
  font-size: 16px;
  line-height: 21px;
  border: none;
  border-radius: 4px;
}

.button-submit:hover {
  background-color:#68a2ca;
}

.button-submit:focus {
  box-shadow: inset 0 0 0 4px #756257;
  outline: none;
}

.button-submit:active {
  box-shadow: none;
  opacity: 0.3;
}

.button-reset {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-transform: none;
  padding: 14px 29px;
  background-color: transparent;
  border: none;
}

.button-reset:hover {
  color:#68a2ca;
}

.button-reset:focus {
  box-shadow: inset 0 0 0 4px #68a2ca;
  outline: none;
}

.button-reset:active {
  box-shadow: none;
  opacity: 0.3;
}

.catalog-card {
  margin: 0 auto;
  width: 1056px;
}

.catalog-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 44px;
  margin-bottom: 53px;
}

.catalog-hotel-found {
  margin: auto 0;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-type {
  margin-left: auto;
}

.catalog-card-button {
  display: flex;
  flex-wrap: wrap;
  margin-left: 73px;
}

.card-grid-toggle {
  width: 48px;
  height: 48px;
  margin-left: 8px;
  padding: 6px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  box-sizing: border-box;
}

.card-grid-toggle:hover {
  background-color:#68a2ca;
}

.card-grid-toggle:focus {
  box-shadow: inset 0 0 0 4px #68a2ca;
  outline: none;
}

.catalog-card-icon {
  fill: #000000;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}

.select-control {
  width: 287px;
  font-size: 18px;
  line-height: 23px;
  padding: 12px 19px;
  color: #333333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 10px 18px;
  margin: 0 0 64px 0;
  padding: 0;
  list-style-type: none;
}

.hotel-card {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  margin: 16px 0;
  color: #000000;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.hotel-card-description {
  width: 133px;
  margin: 0 25px 16px 0;
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-button {
  width: 133px;
  padding: 8px 0 7px 0;
  margin-right: 26px;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
}

.hotel-card-button:hover {
  background-color: #615048;
}

.hotel-card-button:focus {
  box-shadow: inset 0 0 0 4px #68a2ca;
  outline: none;
}

.hotel-card-button:active {
  box-shadow: none;
  opacity: 0.3;
}

.button-add {
  width: 140px;
  margin: 0;
  background-color:#83B3D3;
}

.button-add:hover {
  background-color: #68a2ca;
}

.button-add:focus {
  box-shadow: inset 0 0 0 4px #756257;
  outline: none;
}

.button-add:active {
  box-shadow: none;
  opacity: 0.3;
}

.button-added{
  width: 140px;
  margin: 0;
  background-color: #7DB54F;
}

.button-added:hover {
  background-color: #5DB54F;
}

.hotel-card-raiting {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  width: 300px;
}

.raiting-star {
  display: flex;
  align-self: center;
  width: 110px;
}

.raiting-star svg {
  margin-right: 7px;
}

.raiting {
  width: 160px;
  background-color:#E6E6E6;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  padding: 8px 0 7px 0;
  border-radius: 4px;
}

.pagination-wrapper {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.pagination-show-more {
  width: 620px;
  padding: 17px 0;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  background-color: #83B3D3;
}

.pagination-show-more:hover {
  background-color: #68a2ca;
}

.pagination-show-more:focus {
  box-shadow: inset 0 0 0 4px #756257;
  outline: none;
}

.pagination-show-more:active {
  box-shadow: none;
  opacity: 0.3;
}

.pagination-container {
  width: 1056px;
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  display: block;
  margin-right: 8px;
  cursor: pointer;
}

.pagination-link {
  display: block;
  width: 55px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding: 15px 0;
  color: #ffffff;
  background-color: #83B3D3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  box-shadow: inset 0 0 0 4px #756257;
  outline: none;
}

.pagination-link:active {
  box-shadow: none;
  opacity: 0.3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.sorting-type-pagination {
  margin: auto 0;
}

.number-of-hotels {
  margin-right: 51px;
}

.select-control-pagination {
  width: 160px;
  font-size: 18px;
  line-height: 23px;
  padding: 12px 19px;
  color: #333333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.newsletter-catalog {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
}

.newsletter-catalog .newsletter-title {
  padding-top: 73px;
}

.newsletter-catalog .field {
  background-color: #F2F2F2;
}
